:root {
  --text-color: #ccd6f6;
  --lighter-blue: rgb(24, 40, 54);
  --light-blue: rgb(106, 168, 222);
  --dark-blue: #1b2d3d;
  --darker-blue: #101a23;
  --white: #ffffff;
  --decorative-color: #174d71;
  --emerald-green: #34c2aa;
  --emerald-green-light: #64ffda;
  --emerald-green-code: #367d8d;
  --emerald-green-lighter: #67b478;
  --dark-green: #093932;
  --gray: #324d6b;
  --blue-gradient: linear-gradient(
    97deg,
    rgba(27, 45, 61, 1) 44%,
    #223342 64%,
    #243b57 100%
  );
}

.button {
  color: var(--emerald-green);
}

.button:hover {
  background-color: var(--dark-green) !important;
  color: var(--emerald-green);
  color: var(--emerald-green-light);
}

body {
  color: var(--text-color) !important;
  font-family: "Overpass", sans-serif;
  background: var(--blue-gradient);
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
  text-decoration: inherit;
}
section {
  padding: 7vh;
}

.firstHeadline {
  margin-bottom: 3px;
}

.greeting {
  margin-bottom: 4px !important;
}

h4 {
  text-align: center;
}
.greenMonospace {
  color: var(--emerald-green);
  font-size: large;
  font-family: var(--bs-font-monospace);
  margin: 0;
  padding: 0;
  font-family: "Fira Mono";
}

.greenMonospaceTitle {
  font-weight: lighter;
  margin-bottom: 7px;
}

.navbar {
  transform: translateY(0px);
  padding-left: 20vh;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar .greenMonospace {
  font-size: large !important;
  font-weight: lighter;
}

.transparent {
  background-color: var(--dark-blue);
  transform: translateY(-100px);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.solidBackground {
  transform: translateY(0px);
  background-color: var(--dark-blue);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scrollToContactButton:outline,
.scrollToContactButton:focus,
.scrollToContactButton.active {
  outline: none !important;
  border: none !important;
}

.mainContentHeadingPart h1 {
  font-size: 4.4rem !important;
}

.mainContentHeadingPart p {
  font-size: larger;
}

.leftProjectColumn {
  width: 50%;
}

.screenshotBox {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.screenshot {
  min-width: 50%;
  height: fit-content;
  overflow: hidden;
  border: 1px solid var(--decorative-color);
}

@media screen and (max-width: 740px) {
  .screenshot {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  #navbarSupportedContent {
    justify-content: end;
  }

  .navbar-nav {
    margin-left: 15vh;
    margin-right: 10vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbarLogoAndItems {
    margin-left: 17vh;
  }
}

@media screen and (max-width: 990px) {
  .visibleInLargeWidth {
    display: none;
  }
  .navbar {
    padding-left: 20px !important;
  }
  .project {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .navbarLogoAndItems {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1360px) {
  .aboutMeContent .col-md-6 {
    padding-left: 6%;
    padding-right: 6%;
  }
  .mainContent {
    margin-left: 23vh;
  }

  .buttonMain {
    padding: 11px 21px;
    font-size: 21px;
    border-radius: 10px;
  }
  .mainContentHeadingPart {
    margin-bottom: 94px;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2343a7ac' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  color: var(--dark-green);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggler:hover {
  text-decoration: none;
}

.blueBg {
  background-color: #1b2d3d;
  border-bottom: 2px solid #1b374d;
}

.darkBlueBg {
  background-color: var(--dark-blue) !important;
  border-bottom: 2px solid #1b374d !important;
}

.bi {
  font-size: 30px;
}

.nav-item > .bi {
  line-height: 100% !important;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

a > code {
  color: var(--emerald-green);
}

nav .nav-item :hover {
  color: var(--emerald-green-code);
}

.nav-item > a,
.nav-item > i,
.navbar-brand,
.navbar-toggler-icon {
  color: var(--emerald-green);
}

#logo {
  margin: 0;
}
.contactActionButton {
  margin-left: 10px;
  margin-right: 10px;
}

.contactActionButton:hover {
  color: var(--emerald-green-light);
}
.contactActionButton i :hover {
  color: var(--emerald-green-light);
}

.socials-navbar {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials {
  position: fixed;
  right: 35px;
  bottom: 60px;
  transition: color 100ms linear;
}

i:hover {
  color: #2c5e9a;
  transition: color 100ms linear;
}

header {
  min-height: 100vh;
  padding-top: 11.8vh;
}
.personImage {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
}
.personImage > img {
  height: 91%;
  margin-right: 1.6vh;
  position: absolute;
  bottom: 0;
}

.leftHeaderSide {
  position: relative;
  padding-bottom: 18vh;
}

code {
  color: var(--emerald-green);
  font-size: large;
}

.navbar code {
  font-size: medium;
}

.btn-link {
  text-decoration-color: var(--decorative-color);
}

/* PROJECTS SECTION */

.projects {
  background: var(--lighter-blue);
}

.project {
  padding: 5vh;
  margin: 10vh;
  border-radius: 5px;
  border: 2px solid var(--decorative-color);
  background-color: var(--dark-blue);
}

.projectLinkIcon {
  margin: 10px;
}

/* ABOUT ME SECTION */

.aboutMeContent {
  font-size: large;
}

.aboutMeContent .col-md-6 {
  padding-left: 8%;
  padding-right: 8%;
}
#englishTestResultsScreenshot {
  margin-top: 1vh;
  border: 2px solid var(--decorative-color);
  width: 100%;
}

.logos img {
  margin: 4vh;
  height: 10vh;
}
.logosGrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTACT SECTION*/
.contact {
  background: var(--lighter-blue);
}
.contact button {
  font-size: larger;
  cursor: pointer;
}

.contactActionIcon {
  padding-right: 15px;
}

.contactsBigContainer {
  width: 100%;
  min-height: 25vh;
  display: flex;
  align-items: center;
}

.contactsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.copyToClipboardButton {
  cursor: pointer;
  margin-top: 1.3vh;
  margin-left: 5vh;
}

.copyToClipboardButton:hover {
  color: var(--light-blue);
}

.copyToClipboardButton:active {
  color: var(--emerald-green);
}

.alert {
  width: 50vh;
  position: fixed;
  bottom: 2vh;
  right: 14vh;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: #203345;
}
footer > p {
  font-size: larger;
  color: var(--text-color);
  padding: 5vh;
  margin: 0;
}
